*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input{
    width: 100%;
    height: 40px;
    border: 2px solid #5f9341;
    padding: 0px 5px;
}

button{
    background-color: #5f9341;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    width: 150px;
    height: 40px;
    margin-top: 10px;
    border: 1px solid #5f9341;
    cursor: pointer;
}

#delete-btn{
    background-color: white;
    color: #5f9341;
}

ul{
    margin-top: 20px;
}

li{
    margin-bottom: 5px;
}

ul, li, a{
    list-style: none;
    color: #5f9341;
}